<section class="banner">
    <div class="banner-img"></div>
    <h1> Integer bibendum sit amet  arcu vel egestas.</h1>
    <div class="service">
        <div class="service-icon ">
            <div class="service-item">
                <img src="/assets/icons/staffing-icon-2.png">
                <p>Service Name</p>
            </div>
        </div>
        <div class="service-icon ">
            <div class="service-item">
                <img src="/assets/icons/stock-vector-technical-support-icon-602881037.png">
                <p>Service Name</p>
            </div>
        </div>
        <div class="service-icon ">
            <div class="service-item">
                <img src="/assets/icons/folder_sans_settings-128.png">
                <p>Service Name</p>
            </div>
        </div>
    </div>
</section>