<section class="about">
    <div class="about-area">
        <div class="about-text">
            <h1>
                Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximux  laoreet.
            </h1>
            <p>
                In maximus euismod egestas. Fusce tincidunt posuere est non Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
            </p>
        </div>
        <div class="about-map">
            <img src="/assets/img/map.png">
        </div>
    </div>
</section>