<section class="testim">
    <h1>Testimonials</h1>
    <div class="testim-area">

        <div class="card">
            <div class="testim-text">
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam,
                </p>
                <div class="arrow">

                </div>
            </div>
            <div class="user-info">
                <img src="/assets/icons/user_icon.png">
                <div class="user-name">
                    <p>CLIENT NAME</p>
                    <span>Position, ORG</span>
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="testim-text">
                <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam,et dolore magna aliqua. 
                </p>
                <div class="arrow">

                </div>
            </div>
            <div class="user-info">
                <img src="/assets/icons/user_icon.png">
                <div class="user-name">
                    <p>CLIENT NAME</p>
                    <span>Position, ORG</span>
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="testim-text">
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, </p>
                <div class="arrow">

                </div>
            </div>
            <div class="user-info">
                <img src="/assets/icons/user_icon.png">
                <div class="user-name">
                    <p>CLIENT NAME</p>
                    <span>Position, ORG</span>
                </div>
            </div>
        </div>
    </div>
</section>